.main-cadastro{
  display: flex;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background:url(../../assets/fundoTela.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.container{
  display: flex;
  height: 100%;
  flex-direction: column;
}

.wrapperCadastro{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 581px;
  height: 90%;
  margin: 100px 0;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.title{
  font-family: 'Inter';
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #FE5517;
margin: 54px 0px 14px 0px;
}

.segundoNome{
  font-family: 'Inter';
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #FE5517;
}

.input{
  display: flex;
  gap: 5px;
  flex-direction: column;  
 
}

form {
  display: flex;
  gap: 9px;
  flex-direction: column;
  align-items: center;
}



.esqueceSenha{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top:5px;  
  color: #030303;
}

.tituloInput{
  display: flex;
align-items: center;
  color:#000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  margin-left: 20px;

}

input {
  width: 319px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 30px;
}

button {
  width: 187px;
  height: 45px;
  margin-top: 50px;  
  background: #FE662E;
  border-radius: 20px;
  cursor: pointer;
  color: #fff; 
  border:transparent;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.alerta{
  color: #ff0000;
  font-size: 14px;
}
.rodape{
  width: 100%;
  display: flex;
  height: 40px;  
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
  flex-shrink: 0;
}

.texto{
  width: 270px;
height: 25px;
margin-left: 5px;
top: 261px;
color: #404098;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
}

.fundoTela{
 margin-right:0px
}

.select{
  width: 319px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 30px;
}


.checkbox{
  width: 15px;
  height: 15px;
  color: #ff0000;
  margin-left: 15px;
}

.inputCheck{
  margin-top: 10px;
  text-align: center;
}

.olho {
  cursor: pointer;
  width: 35px;
  left: 280px;
  color: #DC4A38;
  margin-top: 15px;
  font-size: 18px;
  position: absolute;
}
.mostrarSenha{
  display: flex;
}

.inputSenha{
  left: 365px;
  position: sticky;
}
.areaMentor{
  display: none;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.linkedin{
  color: #0077B7;
  font-size: 30px;
  margin: 20px;
}

.gmail{
  color: #DC4A38;
  font-size: 30px;
  margin: 20px;
}

.icons{
  display: flex;
  justify-content:center;
}

.labelCheckbox{
  margin-left: 20px;
}

.input-area-mentor{
  margin-top: 15px;
}
.Toggle {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
  right: 73px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
  top: -4px;
}

.Toggle:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + .Toggle {
	background: #FE662E !important;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}
@media (max-width: 600px) {
  .inputSenha{
    left: 0;
  }
}

@media (max-width: 500px) {
  .main-cadastro{
    background: #fff;
  }
  .wrapperCadastro{
    border: none;
    box-shadow: none;
  }
}

