.container{
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
}

.input{
  width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;  
}

form {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
h2 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #FE5517;
  margin-left: 50px;
}
.segundoNome{
  font-family: 'Inter';
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #FE5517;
}
p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top:5px;  
  color: #030303;
}
.usuario{
  color:#000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-left: 40px;
  margin-bottom: 10px;
}
input {
  width: 319px;
  height: 50px;
  left: 21px;
  top: 295px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 30px;
  width: 319px;
  height: 50px;
  margin-left: 21px;
}

button {
  width: 95px;
  height: 27px;
  margin-top: 50px;  
  background: #FE662E;
  border-radius: 20px;
  cursor: pointer;
  color: #fff; 
  border:transparent;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.alerta{
  color: #ff0000;
  font-size: 14px;
  margin-left: 50px;
}