.main__login{
  display: flex;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-image:url('../../assets/fundoTela.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container{
  display: flex;
  height: 100%;
  flex-direction: column;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 500px;
  height: 656px; 
  margin: 100px 0;  
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.title{
  font-family: 'Inter';
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #FE5517;
margin: 54px 0px 64px 0px;
}

.segundoNome{
  font-family: 'Inter';
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #FE5517;
}

.input{
  display: flex;
  gap: 5px;
  flex-direction: column;  
 
}

form {
  display: flex;
  gap: 39px;
  flex-direction: column;
  align-items: center;
}



.esqueceSenha{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top:5px;  
  color: #030303;
}

.tituloInput{
  display: flex;
  align-items: center;
  color:#000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  margin-left: 20px;
}

input {
  width: 319px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 30px;
  padding: 15px;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
}

.buttonLogin {
  width: 187px;
  height: 45px;
  margin-top: 50px;  
  background: #FE662E;
  border-radius: 20px;
  cursor: pointer;
  color: #fff; 
  border:transparent;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.buttons > p{
  margin-top: 50px;
}
.alerta{
  color: #ff0000;
  font-size: 14px;
}

.rodape{
  width: 100%;
  display: flex;
  height: 40px;  
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
  flex-shrink: 0;
}

@media screen and (max-width: 768px){
  .main__login{
    background-image: none;
    background-color: #fff;
  }

  .wrapper{
    border: none;
    box-shadow: none;
  }
}
