*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecalho{
  width: 100%;
  height: 150px;
  background-color: #febba2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.15);
}

.conect {
  color: #fff;
  background-color: #fe4400;
  border: solid 2px #fff;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
}

main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}

h1{
  text-align: center;
  color: #fe4400;
}

main > .conect{
  background-color: #fe4400;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100px;
}

main > button:hover{
  opacity: 0.7;
}


