.display-block {
  display: block;
}

.display-none {
  display: none;
}

.ui-modal{
  background-color: #fff;
  border-radius: 6px;
  max-width: 800px;
}

.ui-modal__overlay{
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.5);
}

.ui-botao{
  /* float: right;
  background-color: unset;
  border: unset; */
}